*{
	font-family: 'microsoft yahei';
	list-style: none;
	text-decoration: none;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
	height: 100%;
	min-width: 1226px;
}
a{
	color:#000;
}
.container{
	width: 86.7%;
	margin: 0 auto;
	position: relative;
}
.container2{
	width: 75%;
	margin: 0 auto;
	position: relative;
}
.l{
	float: left;
}
.r{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
}
.logo{
	width: 25%;
	height: 50px;
}
.logo img{
	width: 95%;
}
.academy_logo{
	width: 11%;
	padding-top: 25px;
}
.academy_logo img{
	width: 100%;
}
/*导航区*/
.nav{
	position: relative;
	z-index: 1;
	z-index: 2000;
}
.nav-list{
	float: left;
	list-style: none;
	z-index: 1;	
}
.nav-list>a{
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 15px;
}
.actives>a{
	box-shadow: inset 0 -4px 0 red;
}
.nav-list>a:hover{
	color: red;
}
.nav ul{
	padding-top: 25px;
}
.nav ul:after{
	content:'';
	display: block;
	visibility: hidden;
	clear: both;
}
.nav-items{
	position: absolute;
	left: 0%;
	height: 150px;
	padding: 0;
	background: rgba(210,210,210,0.9);
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 8px rgb(210,210,210);
	display: none;
	z-index: 2000;
}
.nav-items li{
	float: left;
	padding: 8px;
	border-radius: 3px;
	text-align: center;
	margin: 0 10px;
	position: relative;
}
.nav-items li:after{
	content: '';
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	background: #666;
	left: 110%;
	top:50%;
}
.nav-items li:last-child:after{
	display: none;
}
.nav-items li a{
	color: #000;
	text-decoration: none;
	font-size: 15px;
	position: relative;
}
.nav-list:last-child>a:after{
	display: none;
}
.nav-items li:hover a{
	color: #fff;
}
.nav-items li:hover{
	background: rgb(153, 153, 153);
}
/*************banner************/
.apple-banner {
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.apple-banner .swiper-container {
	margin-top: -40px;
	width: 100%;
	height:500px;
}
.swiper-button-prev,.swiper-button-next{
	width: 15%;
	height: 100%;
	top:0;
	background:none;
	}
.swiper-button-prev{
	left:0;}	
.swiper-button-next{
	right:0;}	
.swiper-button-prev span,.swiper-button-next span{
	display:block;
	width: 64px;
	height: 64px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top:-32px;
	border-radius: 100%;
	.swiper-button-prev span
	background-size: 100% 100%;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.swiper-button-next span{
	background: rgba(180,180,180,0.25) url(../images/next.png) no-repeat;
	left:auto;
	background-size: 100% 100%;
	right:20px;
	}
.swiper-button-prev:hover span{
		background: rgba(180,180,180,0.25) url(../images/prev_ac.png) no-repeat;
		background-size: 100% 100%;
}
.swiper-button-next:hover span{
	background: rgba(180,180,180,0.25) url(../images/next_ac.png) no-repeat;
	background-size:100% 100%; 
}
.swiper-button-prev:hover span,.swiper-button-next:hover span{
	opacity: .6;
}
/*分页器*/
.apple-banner .swiper-pagination{
	top:auto;
	bottom:80px;
	left: 50px;
	background:none;
}
.apple-banner  .swiper-pagination-bullet {
	display: inline-block;
	width: 50px;
	height: 30px;
	margin: 0 12px;
	cursor: pointer;
	background: none;
	border-radius:0;
	opacity: 1;
}
.apple-banner  .swiper-pagination-bullet span {
	width: 60px;
	height:15px;
	border-radius: 6px;
	display: block;
	background: rgba(128,128,128,0.8);
}
.apple-banner .swiper-pagination-bullet-active span{    
	background: rgb(204, 43, 51);
}
.apple-banner .autoplay .swiper-pagination-bullet-active span{
   background: rgba(128,128,128,0.8);
}
.apple-banner  .swiper-pagination-bullet i{
	background: rgb(204, 43, 51);
	height: 15px;
	border-radius: 20px;
	transform:scaleX(0);
	transform-origin: 0;
	display: block;
}
.apple-banner .autoplay .firsrCurrent i{
	transition:transform 2.9s linear;
	transform:scaleX(1);
}
.apple-banner .autoplay .current i{
	transition:transform 4s linear;
	transform:scaleX(1);
}
.apple-banner  .autoplay .replace span{
  background:gray;
}
/*内容样式*/

.slide1 {
	background: #000 url('../images/banner_pic_1.png') no-repeat;
	background-size: 100% 100%;
}
.slide2 {
	background: #f3f3f3 url('../images/banner_pic_2.png') no-repeat;
	background-size: 100% 100%;
}
.slide3 {
	background: #fff url('../images/banner_pic_3.png') no-repeat;
	background-size: 100% 100%;
}
.slide4 {
	background: #fff url('../images/banner_pic_4.png') no-repeat;
	background-size: 100% 100%;
}
.slide5 {
	background: #fff url('../images/banner_pic_5.png') no-repeat;
	background-size: 100% 100%;
}


/*******************banner***************************/
/*news*/
.news{
	background: rgb(245, 245, 245);
	padding: 3% 0;
}
.news .wrap{
	width: 48%;
	padding: 15px 0;
}
.more{
	float: right;
	color: red;
	cursor: pointer;
	font-size: 14px;
}
.news_head{
	padding-bottom: 7px;
	border-bottom: solid 1px #ccc;
}
.news_head a{
	font-size: 18px;
	padding-bottom: 6px;
	border-bottom: solid 2px red;
}
.news_content{
	margin: 15px 0;
	padding: 25px;
	background: #fff;
	transition:all 0.5s ease;
}
.news_content:hover{
	box-shadow: 0 0 20px 8px #aaa;
}
.news_content li{
	padding: 10px 2px;
	font-size: 14px;
	color: #666;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	border-bottom: solid 1px #ccc;
}
.news_content:nth-child(2) span{
	float: right;
	padding-left: 20px;
}
.news_content li:hover,.news_content li:hover a{
	color: red;
}
/*shows*/
.shows{
	padding: 3% 0;
	min-height: 250px;
}
.show_list{
	width: 33.3333%;
	background: url(../images/show_1.jpg) no-repeat;
	background-size: 100%;
	float: left;
	transform:scale(0.8);
	cursor: pointer;
}
.show_list:nth-child(3){
	background: url(../images/show_2.jpg) no-repeat;
	background-size: 100%;
}
.show_list:nth-child(4){
	background: url(../images/show_3.jpg) no-repeat;
	background-size: 100%;
}
/*footer*/
.footer{
	width: 100%;
	height: 350px;
	background: #eee;
	padding: 30px 0;
	overflow: hidden;
}
.left_info{
	width: 50%;
	box-shadow: inset -2px 0 0 #ddd;
}
.right_info{
	width: 50%;	
}
.footer .img_box{
	width: 65%;
	height:100px;
	margin: 0 auto;
	background: url(../images/logo.png) no-repeat;
	background-size: 100% 100%;
}
.left_info p{
	color: #666;
	line-height: 50px;
	text-align: center;
}
p:nth-child(2){
	padding-top: 10px;
}
.ico{
	width: 40%;
	margin:0 auto;
	padding-top: 5px;
}
.ico ul li{
	float: left;
	width: 33.3%;
	height: 50px;
	text-align: center;
}
.ico ul li img{
	width: 70%;
}
.quick_link{
	width: 33.3%;
	text-align: center;
	line-height: 35px;
	margin: 0 auto;
}
.quick_link li{
	color: #666;
	font-size: 14px;
}
.quick_link .link_head{
	font-size: 16px;
	color: #333;
	font-weight: bold;
}
.quick_link .link_head~li:hover{
	color: red;
	cursor: pointer;
}

/*Copyright*/
.copyright p{
	text-align: center;
	color: #666;
	line-height: 30px;
	font-size: 14px;
	margin-top: 20px;
	padding: 15px;
}
/*JS_tip*/
.tip img{
	width: 300px;
}