.close{
	padding-top: 25px;
	text-align: right;
}
.close a{	
	color: #333;
	text-decoration: none;
	font-size: 14px;
}
.close a:hover{
	text-decoration: underline;
	color: red;
}
.profile .profile_content{
	padding: 0 6%;
	color: #333;
}
.profile .profile_content p{
	text-indent: 2em;
	text-align: justify;
	line-height: 23px;
}
/*News content*/
.news{
	margin: 3% 0;
	padding: 1%;
}
.news h2{
	text-align: center;
	font-size: 20px;
	line-height: 38px;
}
.news h3{
	color: #666;
	font-size: 14px;
	text-align: center;
	padding-bottom: 30px;
}
.news_contents{
	background: url('../images/news_bg.png') repeat-y;
	padding: 3% 5%;	
	background-size: cover;
}
.news_img_box{	
	width: 50%;
	margin: 0 auto;
	padding: 3% 0;
}
.news_img_box img{
	width: 100%;
}
.news_contents p{
	text-align: justify;
	text-indent: 2em;
	color: #666;
	line-height: 25px;
}
.news_contents span{
	color: #666;
}
.pizhu{
	text-align: center;
	color: #666;
	font-size: 12px;
	display: block;
}
#jlyyh .news_img_box{
	padding: 0;
}
#stu_activity table{
	border-collapse: collapse;
	margin: 0 auto;
}
#stu_activity table td{
	text-align: center;
	border: solid 1px #000;
	padding: 5px;
	font-size: 14px;
}
