*{
	font-family: 'microsoft yahei';
	list-style: none;
	text-decoration: none;
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
	min-width: 1226px;
}
.container{
	width: 86.7%;
	margin: 0 auto;
	position: relative;
}
.container2{
	width: 75%;
	margin: 0 auto;
	position: relative;
}
.l{
	float: left;
}
.r{
	float: right;
}
/*TOP*/
.top_line{
	width: 75%;
	height: 30px;
	background: rgb(67, 67, 67);
	position: relative;
	float: right;
}
.top_line span{
	color: #eee;
	line-height: 30px;	
}
.jcut_art{
	margin-left: 10%;
}
.time{
	margin-left: 8%;
}
.art_logo{
	width: 170px;
	height: 55px;
	margin-left: 12%;
	margin-top: -10px;
}
.top_line:after{
	content: '';
	position: absolute;
	display: inline-block;
	border-style: solid;
	left: -30px;
	top:-30px;
	border-width: 30px;
	border-color: transparent transparent #fff;
}
.search_area input{
	width: 200px;
	height: 30px;
	text-indent: 2.5em;
	font-size: 18px;
	outline: none;
	border:none;
	border:solid 1px #ccc;
	border-radius: 8px;
	position: absolute;
	right: 5%;
	top:25%;
}
.search_area input:focus{
	border:solid 1px rgb(18, 150, 219);
}
.search_btn{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5%;
	top:25%;
	background: url('../images/search.png') no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	z-index: 2;
}
.search_btn:hover{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5%;
	top:25%;
	background: url('../images/search_blue.png') no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
	z-index: 2;
}
/*导航区*/
.nav{
	position: relative;
	z-index: 1;
	background: #fff;
	float: right;
	top:-55px;
}
.nav-list{
	float: left;
	list-style: none;
	position: relative;
	z-index: 1;
}
.nav-list:hover{
	background: rgb(210,210,210)
}
.nav-list>a{
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 15px;
}
.nav-list:hover>a{
	color: #fff;
}
.nav ul:after{
	content:'';
	display: block;
	visibility: hidden;
	clear: both;
}
.nav>ul>li:after{
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	height: 20px;
	background: #000;
	top:17px;
	right: 0px;
}
.nav>ul>li:last-child:after{
	content: none;
}
.nav-items{
	position: absolute;
	padding: 0;
	width: 100%;
	background: rgba(210,210,210,0.9);
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 8px rgb(210,210,210);
	display: none;
	padding-bottom: 8px;
}
.nav-items li{
	width: 100%;
	padding: 5px 0 5px 0;
	text-align: center;
}
.nav-items li a{
	color: #000;
	text-decoration: none;
	font-size: 13px;
}
.nav-items li:hover a{
	color: #fff;
}
.nav-items li:hover{
	background: rgb(153, 153, 153);
}
.sliders{
	width: 62px;
	height: 51px;
	position: absolute;
	background: rgb(210,210,210);
	left: 50px;	
	transition:all 0.2s ease-in-out;
	border-radius: 5px 5px 0 0;
}
.actives>a{
	color: rgb(204,43,50);
}
.banner{
	margin-top: -35px;
}
/*轮播图*/

/*--------------SLIDER----------------*/

#slider {
	width: 100%;
}
.slides.clearfix{
	padding: 0;
}


/*--------------CONTROLS--------------*/

/*position controls*/
.controls li {
	width: 60px;
	height: 120px;
	top: 50%;
	margin-top: -30px
}
.controls li img{
	width: 100%;
}
.controls{
	display: none;
}
.controls li:nth-child(1) {
	left: 40px;
}

.controls li:nth-child(2) {
	right: 40px;
}


/*------------PAGINATION------------*/

/*style pagination*/
.pagination li {
	background-color: #ddd;
}

.pagination li.active {
	background-color: #000;
}


/*-------------HELPERS----------------*/

.responsive {
	width: 100%;
	height: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
/*通知内容区*/
.content_text .text li a{
	color: #000;
}
.text_l{
	float: left;
	width: 35%;
}
.text_1{
	width: 100%;
}
.content_text .text li{
 	overflow: hidden;/*超出部分隐藏*/
    white-space: nowrap;/*不换行*/
    text-overflow:ellipsis;/*超出部分文字以...显示*/
    line-height: 30px;
    font-size: 15px;
}
.content_text .text li:hover a,.content_text .text li:hover i{
	color: red;
}
.content_text .text li:hover{
	color: red;
}
.content_text .text li a{	
    padding-left: 25px;
}
.text_h{
	padding: 8px 0 8px 0;
}
.text_h p{
	border-bottom: solid 4px #999;
	font-size: 20px;
}
.content_text .text li span{
	float: right;
	padding-left: 15px;
}
.text_l{
	width: 45%;
	padding-top: 25px;
}
.text_r2{
	width: 45%;
	float: right;
	padding-top: 25px;
}
.text_r2 li span,.text_l li span{
	float: right;
	padding-left: 55px;
}
.text_r2 li:hover,.text_l li:hover{
	color: red;
}
.text_r2 li:hover a,.text_l li:hover a{
	color: red;
}
.text_r2 li,.text_l li{
	line-height: 30px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.text_r2 li a,.text_l li a{
	color: #111;
}
.content_text:after{
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
}
/*内容区右部*/
.text_r ul{
	width: 70%;
	float: right;
}
.pic_box{
	width: 30%;
	margin-top: 1%;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}
.pic_box img{
	width: 75%;
	transform:scale(1.1);
	transition:transform 0.3s ease;
}
.pic_box:hover img{
	transform:scale(1.3);
}
/*SHOW1*/
.show1{
	margin-top:25px;
}
.show1_list{
	width: 30%;
	
}
.show1_list .text_h{
	padding-bottom: 20px;
}
.show_img{
	background: url(../images/show1.jpg);
	background-size: 100% 100%;
	height: 150px;
}
.show1_list:nth-child(2){

	margin-left: 54px;
}
.show1_list:nth-child(2) .show_img{
	background-image: url(../images/show2.jpg);
}
.show1_list:nth-child(3) .show_img{
	background-image: url(../images/show3.jpg);
}
/*YJCG*/
.yjcg{
	margin-top: 25px;
}
.yjcg .text_h:nth-child(2){
	text-align: left;
}
.yjcg_list{
	width: 25%;
	float: left;
	text-align: center;
}
.tl{
	text-align: left!important;
}
.trr{
	text-align: right!important;
}
.yjcg_list img{
	width: 90%;
}
.imgss{
	margin-top: 25px;
}
.imgss_list{
	float: left;
	width: 12.5%;
	text-align: center;
	/* 
	background: url(../images/1.jpg);
	background-size: 100% 100%; */
}
.imgss_list img{
	width: 70%;
}



/*link*/
.friendly_link{
	margin-top: 2%;
}
.friendly_link table{
	display: table;
	margin: 0 auto;
}
.friendly_link p{
	font-size: 14px;
}
.friendly_link table td a{
	color: #000;
	font-size: 14px;
}
.friendly_link table td a:hover{
	color: #c00;
}
.link_line{
	padding:0 5px;
}
/* 
.friendly_link ul{
	padding-left: 6%;
}
.friendly_link ul:after{
	content: '';
	display: block;
	visibility: hidden;
	clear: both;
}
.friendly_link li{
	float: left;
	overflow: hidden;超出部分隐藏
    white-space: nowrap;不换行
    text-overflow:ellipsis;超出部分文字以...显示
    width: 12%;
    position: relative;
    text-align: center;
}
.friendly_link li:after{
	content: '|';
	width: 1px;
	height: 100%;
	position: absolute;
	left: 90%;
	z-index: 100;
}
.friendly_link li:nth-child(3):after,.friendly_link li:nth-child(4):after,.friendly_link li:nth-child(5):after{
	left: 97%;
}
.friendly_link li:last-child:after{
	content: '';
}
.friendly_link li a{
	color: #000;
	padding-right: 5px;
	transition:all 0.3s ease;
}
.friendly_link li:hover a{
	color: rgb(185, 38, 59);
}
 */
.friendly_link p{
	text-align: center;
	margin:1% 0;
}
/*footer*/
.footer_line{
	width: 100%;
	height: 30px;
	background: rgb(67, 67, 67);
	position: relative;
}/* 
.footer_line:after{
	content: '';
	position: absolute;
	display: inline-block;
	border-style: solid;
	right: 0px;
	top:-30px;
	border-width: 30px;
	border-color: transparent #fff transparent transparent;
} */

.hooo{
	position: absolute;
	width: 110px;
	height: 150px;
	left: 30%;
	z-index: 1;
	cursor: pointer;
}